@import url(https://fonts.googleapis.com/css2?family=Comfortaa&family=Sarabun&family=Lexend+Deca&display=swap);
*,
*:before,
*:after {
  box-sizing: border-box;
}

#app {
  background-color: #F8E5E5;
}

.card {
  max-width: 480px;
}

.form__footer {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 45px;
}

.form__error {
  display: flex;
  flex-flow: row nowrap;
  color: #FF0B0B;
}

.form__submit {
  margin-left: auto;
}

.links {
  margin-top: 11px;
  font-family: Sarabun, sans-serif;
  font-weight: 400;
  text-align: center;
}

.links__text {
  font-size: 18px;
  color: #867676;
}

.links__link {
  font-size: 24px;
  color: #E32A26;
}

/* TODO: Move it to another Vue component */

.error__img {
  height: 18px;
  margin-right: 8px;
  margin-top: 3px;
}

.error__text {
  font-family: Sarabun, sans-serif;
  font-size: 16px;
}


